version: "3.0"


services:

  minio:
    image: 'minio/minio:latest'
    ports:
      - '9000:9000'
      - '9090:9090'
    environment:
      - MINIO_ROOT_USER='test'
      - MINIO_ROOT_PASSWORD='testpassword'
      - MINIO_SERVER_URL=http://85.215.53.91:9000
    networks:
      - mlops
    volumes:
      - 'minio-data:/data'
    command: server --console-address ":9090" /data
    restart: always

volumes:
  minio-data:
    driver: local


networks:
  mlops:
    driver: bridge

